/*GENEREAL BEGIN*/
*{
	padding: 0;
	margin: 0;
}

ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}

@font-face{
	font-family: Opensans;
	src:url(../fonts/opensans.ttf);
}

body{
	font: 13px 'Opensans', sans-serif;
}
/*GENERAL END*/
.header{
	background: url(../img/header-bg-str.png) repeat-x 0 0, url(../img/header-bg-str.png) repeat-x 0 100% #454e55;
}
.inner-header{
	background: url(../img/inner-header-bg.png) no-repeat 50% 100%;	
}
.wrapper{
	width: 960px;
	margin: 0 auto;
}
header .hdr-list li{
	float: left;
}
header .hdr-list ul{
	display: inline-block;
}
.description{
	font-size: 18px;
	line-height: 20px;
	color: #cccccc;
	margin: 20px 58px 0 19px;
}

.basket{
	padding: 12px 0 12px 55px;
	background: url(../img/basket.png) no-repeat 0 60%;
	display: block;
	color: #fff;
	font-size: 13px;
}
.fs18{
	font-size: 18px;
}





/* ##############  CLEARFIX ################ */
header:after,
nav:after{
	content: "";
	display: block;
	clear: both;
}
/* ############################################ */



.nav{
	background: #1c1c1c;
}
.inner-nav{
	background: url(../img/inner-nav-bg.png) no-repeat 50% 0;
}
nav ul li{
	float: left;
	position: relative;
	background: url(../img/nav-ul-li.gif) no-repeat 100% 50%;
}
nav>ul>li>a{
	color: #999999;
	text-transform: uppercase;
	padding: 19px 16px;
	display: block;
	transition: color .5s, background 1s; /*############  ЗАТУХАНИЕ КНОПОК  #############*/
}
nav>ul>li>a:hover{
	color: #fff;
	background-image: linear-gradient(to top,#353535, #292929);
}
/* ################## ВЫПАДАЮЩЕЕ МЕНЮ ############################*/
nav>ul>li>ul{
	display: none;
	position: absolute;
	top: 56px;
}
nav>ul>li:hover ul{
	display: block;
	background: #1C1C1C;
}
li>ul>li>a{
	display: block;
	color: #fff;
	padding: 5px;
}
li>ul>li{
	border-top: 1px solid #fff;
	width: 125px;
}

/* ########### ВЫПАДАЮЩЕЕ МЕНЮ КОНЕЦ #############################*/


}
.info-block{
	float: right;
	width: 170px;
	height: 60px;

}
.info-block .net-icons, .info-block .tel, .info-block .registration{
	display: block;
}
.info-block .net-icons li a{
	background: transparent url('../img/sprite.png');
	height:18px;
	width: 18px;
	text-align: center;
	color:#fff;
	display: block;
	margin: 2px;
}
.info-block .net-icons li a.vk{
	background-position: -8 0;
}
.info-block .net-icons li a.fb{
	background-position: -23px 0;
}
.info-block .net-icons li a.tw{
	background-position: -46px 0;
}

.main{
	background: url(../img/main-bg.png) repeat-x 0 0 #fff;
	padding: 27px 0 41px 0;
	
}
.sidebar{
	width: 250px;
	height: 182px;
	margin: 0;

}
.product-name{
	padding: 0 0 36px 13px;
}
.product-name a{
	font-size: 18px;
	color: #6b8492;
	text-transform: uppercase;
}
.product-name a .selected{
	text-decoration: underline;
}
.sb-block h3.title{
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
	background: #899da8;
	padding: 6px 0 6px 10px;
}
.options .china{
	color: #f36720;
	padding-left: 10px ;
	margin-left: 10px;
	background: url(../img/bg-china.png) no-repeat 3px 7px;
}
.options .china:hover{
	background-position: 3px -9px;
}
.options .reset{
	text-decoration: underline;
	text-align: left;
	padding: 12px 0 15px 14px;
	display: block;
}
.options ul{
	background: #f7f7f7;
}
.sb-block{
	margin-bottom: 20px;
}
.country a{
	color: #333;
	margin-left: 11px;
}
.seasons li{
	display: inline-block;
	width: 70px;
	margin-left: 15px;
	padding-right: 3px;
}
.seasons ul{
	padding: 5px 0;
}
.size li{
	width: 69px;
	display: inline-block;
	padding-left: 1px;
	margin-right: 11px;
}
.size ul{
	padding: 5px 0;
}
.price a{
	color: #333;
	margin-left: 11px;
}
.shares li{
	display: inline-block;
	width: 71px;
	margin-left:11px;
	padding-right: 3px;
}
.shares ul{
	padding-top: 5px;
}
.materials ul{
	padding-top: 5px;
}
.materials li{
	display: inline;
	margin: 0 11px 0 10px;
	padding-right: 3px;
}
.color li{
	display: inline-block;
	width: 70px;
	margin-right: 15px;
}
.color ul{
	padding-top: 5px;
	margin-left: 11px;
}
section{
	background: #f7f7f7;
	padding: 9px 9px 2px;
	color: #666666;
	font-size: 13px;
}
.location{
	margin: 15px 0 5px 5px;
}
.location a{
	text-decoration: underline;
	color: #666666;
}